[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Blade/RunnerPlugin

Comment=Blade Runner plugin
Comment[ca]=Connector de Blade Runner
Comment[ca@valencia]=Connector de Blade Runner
Comment[cs]=Modul Blade Runner
Comment[de]=„Blade Runner“-Modul
Comment[en_GB]=Blade Runner plug-in
Comment[es]=Complemento Blade Runner
Comment[et]=Blade Runneri plugin
Comment[eu]=Blade Runner plugina
Comment[fi]=Blade Runner -liitännäinen
Comment[fr]=Module externe Blade Runner
Comment[gl]=Complemento de Blade Runner
Comment[hi]=ब्लेडरनर प्लगइन
Comment[it]=Estensione Blade Runner
Comment[ko]=Blade 실행기 플러그인
Comment[lt]=Blade paleidiklio papildinys
Comment[nl]=Plug-in voor Blade Runner
Comment[nn]=Blade Runner-tillegg
Comment[pl]=Wtyczka Blade Runner
Comment[pt]='Plugin' de Execução do Blade
Comment[pt_BR]=Plugin de execução do Blade
Comment[ro]=Extensie Blade Runner
Comment[sk]=Blade Runner plugin
Comment[sl]=Vtičnik za Blade Runner
Comment[sv]=Blade Runner-insticksprogram
Comment[tr]=Blade Runner eklentisi
Comment[uk]=Додаток Blade Runner
Comment[x-test]=xxBlade Runner pluginxx
Comment[zh_CN]=Blade Runner 插件
Comment[zh_TW]=Blade 執行器外掛程式

[PropertyDef::X-Blade-Runner-Remote]
Type=QString

